@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


:root{
    --white-three: #ededed;
    --white-two: #f6f6f6;
    --greyish : #acacac;
    --charcoal-grey: #3d3d3f;
    --greyish-two: #b7b7b7;
    --greyish-brown: #4d4d4d;
    --pinkish-grey: #cccccc;
    --pale-orange: #ffa15f; 
    --white-five : #fbfbfb;
    --white-six: #eaeaea;
}

.navbar__container{
    background-color: white;
}

.navbar__header{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ececec;
}

.navbar__footer{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ececec;
}


.navbar__search-container{
    position: relative;
    left: 130px;
    top: 15px;
}

.navbar__searchbar{    
    padding-left: 15px;
    width: 181px;
    height: 35px;
    border-radius: 17px;
    border: solid 1px var(--greyish-two);

    /* TEXT */
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: var(--pinkish-grey);
}

.navbar__search-icon{
    position: absolute;
    top: -2px;
    right: 10px;
}

.navbar__logo{
    position: absolute;
    left: 46%;
    top: 15px;
}

.navbar__right-align{
    position: absolute;
    right: 135px;
    top: 15px;
}

.navbar__align-avatar{
    display: inline-block;
    position: relative;
    height: 100%;
}

.navbar__align-avatar >*{
    vertical-align: middle;
    margin-left: 25px;
}

.navbar__right-register-button{
    border: none;
    background-color: white;
    margin-right: 25px;

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: var(--greyish-brown);
}

.navbar__right-login-button{
    width: 120px;
    height: 35px;

    border-radius: 100px;
    border: solid 1px var(--pale-orange);
    background-color: white;
    margin-right: 25px;

    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: var(--pale-orange);
}

.navbar__right-shopping-cart{
    position: relative;
    top: 6px
}

.navbar__right-shopping-cart-count{
    position: absolute;
    right: -7px;
    top: -15px;
    display: inline-block;    
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color: var(--pale-orange);

    /* TEXT */
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 19px;
    letter-spacing: normal;
    text-align: center;
    color: white;
}

.navbar__footer-dropcard-center{
    position: relative;
    text-align: center;
}

.navbar__footer-dropcard{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: var(--dark-grey);
    padding-left: 20px;
}

.navbar__footer-dropcard-arrow{
    cursor: pointer;
    position: relative;
    top: 8px;
    z-index: 0;
}

.navbar__dropcard{
    position: absolute;
    z-index: 6;
    width: 620px;
    height: 45px;
    top: 50px;
    left: 30%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: solid 0.5px var(--white-six);
    background-color: var(--white-five);
}

.navbar__dropcard > *{
    display: inline-block;
    height: 100%;
    width: calc(100%/7);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-grey);
    border: none;
}

.navbar__dropcard > *:hover{
    opacity: 0.7;
}