
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
  

:root{
    --white-two: #f6f6f6;
    --white-three: #ededed;
    --dark-grey: #202124;
    --body-height: 300vh;
    --greyish-brown: #4d4d4d;
    --pale-orange: #ffa15f;
    --brown-grey: #979797;
    --white-four: #d4d3d3;
    --charcoal-grey : #3d3d3f;
}

.paging__container{
    position: relative;
    width: 95%;
    /* outline: 1px solid black; */
}

.paging__text{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}

.paging__tool-container{
    display: inline-block;
    position: absolute;
    right: 0px;
}

.paging__tool{
    display: inline-block;
}

.paging__max{
    display: inline;
    border-radius: 2px;
    border: solid 1px var(--white-three);
    background-color: white;

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: var(--charcoal-grey);
    margin-right: 10px;
}

.paging__move{
    display: inline;
    border-radius: 2px;
    border: solid 1px var(--white-three);
    background-color: white;

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: var(--charcoal-grey);
}

.paging__move.active{
    color: white;
    border: solid 1px var(--pale-orange);
    background-color: var(--pale-orange);
}


.paging__move:hover{
    border-color: var(--white-four);
}