@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


:root{
    --dark-grey: #202124;
    --white-three: #ededed;
    --greyish: #acacac;
    --pale-orange: #ffa15f;
    --charcoal-grey : #3d3d3f;
}

.add__container{
    font-family: Montserrat, sans-serif;
    margin-right: 250px;
    height: calc(732px + 270px);
    text-align: end;
}

.add__title{
    display: inline;
    position: relative;
    right: 850px;
    bottom: 30px;

    /* TEXT */
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}

.add__photo-container{

}

.add__photo-label{
    position: relative;
    top: 128px;

    /* TEXT */
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: right;
    color: var(--dark-grey);
}

.add__photo{
    display: inline-block;
    height: 270px;
    margin-bottom: 16px;
}

.add__photo-card{
    vertical-align: top;
    display: inline-block;
    border: dashed 1px var(--white-three);
    background-color: rgba(255, 255, 255, 0.5);
    width: 180px;
    height: 270px;
    margin-left: 20px
}

.add__photo-input-hidden{
    display: none;
}

.add__photo-icon-container{
    cursor: pointer;
    display: inline-block;
    position: relative;
    /* ALIGN CENTER THE BUTTON */
    top: 110px;
    right: 57px;

    /* TEXT */
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: var(--greyish);
}

.add__photo-icon{
    display: block;
    position: relative;
    left: 33%;
    margin-bottom: 8px;
}

.add__photo-note{
    position: relative;
    right: 260px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--greyish);
}

.add__name-container{
    margin-top: 24px;
}

.add__name-label{
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: right;
    color: var(--dark-grey);
}

.add__name-input{
    width: 780px;
    height: 48px;
    margin-left: 20px;
    border-radius: 2px;
    border: solid 1px var(--white-three);
}

.add__desc-container{
    margin-top: 24px;
    padding-bottom: 40px;
}

.add__desc-label{
    position: relative;
    bottom: 55px;

    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: right;
    color: var(--dark-grey);
}

.add__desc-input{
    width: 780px;
    height: 112px;
    margin-left: 20px;
    border-radius: 2px;
    border: solid 1px var(--white-three);
    resize: none;
}

.add__button-container{
    padding-bottom: 74px;
}

.add__button-cancel{
    width: 180px;
    height: 48px;
    border-radius: 2px;
    border: solid 1px var(--white-three);
    background-color: white;

    /* TEXT */
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: var(--pale-orange);
}

.add__button-complete{
    width: 180px;
    height: 48px;
    border-radius: 2px;
    border: 0px;
    background-color: var(--pale-orange);
    /* TEXT */
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: white;
    margin-left: 20px;
}

.add__photo-upload-container{
    position: relative;
    width: 180px;
    height: 270px;
}

.add__photo-upload-cross{
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 8px;
    right: 8px;
    /* width: 180px;
    height: 270px; */
}


.add__photo-upload-image{
    width: 180px;
    height: 270px;
}

.add__multi-container{
    width: 780px;
    height: 48px;
}