
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
  

:root{
    --side-bar-width: 20%;
    --white-two: #f6f6f6;
    --white-three: #ededed;
    --dark-grey: #202124;
    --nav-height: 122px;
    --body-height: 200vh;
    --greyish-brown: #4d4d4d;
    --pale-orange: #ffa15f;
    --brown-grey: #979797;
    --pinkish-grey: #ccc
}

.product__sidebar-filter{
    width: 100%;
    height: fit-content;
    min-height: 400px;
}

/* DROPDOWN LABEL */

.product__sidebar-filter-dropdown{
    cursor: pointer;
    position: relative;
    height: 30px;
    max-height: 30px;
    width: 90%;
    margin-bottom: 10px;

    /* TEXT */
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: var(--dark-grey);
    text-align: start;

    border-bottom: solid 0.5px var(--pinkish-grey);
}


.product__sidebar-filter-dropdown.product__sidebar-active{
    border-bottom: dashed 0.5px var(--pinkish-grey);

}

.product__sidebar-filter-dropdown-icon{
    position: absolute;
    right: 0;
    top: 0;
}

/* FILTER SIZE TOOL */

.product__sidebar-filter-size{
    max-width: 80%;
}

.product__sidebar-filter-size > *{
    width: 40px;
    height: 40px;
    background-color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    
    border: solid 1px #808080;;

    /* TEXT */
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: var(--dark-grey);
}

.product__sidebar-filter-size >*.product__size-active{
    background-color: var(--pale-orange);
    border: solid 1px var(--pale-orange);
    color: white;
}

.product__sidebar-filter-size > *:hover{
    opacity: 0.7;
}

.product__sidebar-filter-size > *:active{
    opacity: 1;
}

/* FILTER COLORS TOOL */

.product__sidebar-filter-color{
    max-width: 100%;
}

.product__sidebar-filter-color >*{
    margin-right: 18px;
    margin-bottom: 17px;
}

/* FILTER BRAND TOOL */

.product__sidebar-filter-brands {
    position: relative;
}

.product__sidebar-filter-brand-align {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    height: 35px;
    margin-bottom: 10px;
    background-color: #fafafa;
}

.product__sidebar-filter-brand-align div:first-child{   
    margin: auto auto auto 5%;
    flex: 1 1 75%;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: start;
    vertical-align: middle;
    color: var(--greyish-brown);
}
.product__sidebar-filter-brand-align 
    div:first-child.product__sidebar-filter-active{
        color: var(--pale-orange);
}

.product__sidebar-filter-brand-align div:last-child{
    margin: auto;
    flex: 1 1 10%;
}

/* PRICE FILTER TOOL */

.product__sidebar-filter-price{
    width: 80%;
}

/* AVAILABLE FILTER TOOL */

.product__sidebar-filter-available{
    
}

.product__sidebar-filter-available-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    vertical-align: middle;

    width: 90%;
    height: 35px;
    background-color: #fafafa;
}

.product__sidebar-filter-available-container div:first-child{
    margin: auto auto auto 5%;
    flex: 1 1 75%;
    height: fit-content;
    vertical-align: middle;

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--greyish-brown);
}

.product__sidebar-filter-available-container div:last-child{
    flex: 1 1 15%;
    height: fit-content;
    vertical-align: middle;
    margin: auto;
}

.product__sidebar-filter-available-container div:first-child.active{
}