@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root{
    --charcoal-grey: #3d3d3f;
    --pale-orange: #ffa15f;
}

.dd-wrapper{
    height: 48px;
    position: absolute;
    left: 95px;
    bottom: 15px;
}

.dd-header{
    height: inherit;
    width: 172px;
}

.dd-header-title{
    display: inline;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}

.dd-scroll-list{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}

.dd-wrapper .dd-list .dd-scroll-list .dd-list-item{
    padding: 10px 20px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}

.dd-wrapper .dd-list .dd-scroll-list .dd-list-item:hover{
    background-color: var(--pale-orange);
    color: white;
}

.dd-wrapper .dd-list .dd-scroll-list{
    overflow-y: hidden;
}