@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


:root{
    --white-three: #ededed;
    --white-two: #f6f6f6;
    --greyish : #acacac;
    --charcoal-grey: #3d3d3f;
}

.table__component{
    width: 1240px;
    height: 530px;
    background-color: white;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 2px;
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.08);
}

.table__header-container{
    width: 1240px;
    height: 64px;
    border-bottom: 1px solid var(--white-three);
}

.table__header{
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--greyish);

    padding-left: 48px;
    padding-top: 23px;
}

.table__body-container{
    width: 95%;
    height: 64px;
    padding-left: 24px;
}

.table__body{
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--charcoal-grey);
    border-collapse: collapse;
}

.table__body tr:nth-child(even){
    background-color: var(--white-two);
    /* border: 1px solid var(--white-two); */
}

.table__body-row{
    width: 100%;
    height: 64px;
}

.table__body-align-left{
    text-align: end;
    position: relative;
    padding-right: 50px;
}

.table__product-summary-container{
    margin-left: 24px;
    margin-top: 8px;
}

.table__product-image{
    display: inline-block;
    width: 30px;
    height: 40px;
}

.table__product-summary-text{
    display: inline-block;
    position: relative;
    bottom: 4px;
    left: 16px;
}

.table__product-label{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}

.table__product-tag{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--greyish);
}

.table__action-container{
    position: relative;
    cursor: pointer;
    font-weight: 600;
}

.table__action-button{
    cursor: pointer;
    position: relative;
    top: 7px;
}


.table__action-modal{
    position: absolute;
    top: 40px;
    z-index: 2;
    width: 127px;
    height: 92px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.08);
}

.table__action-modal > *{
    position: relative;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 50%;
    background-color: white;
    border: none;

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--charcoal-grey);
    text-align: start;
    padding-left: 50px;
}

.table__action-modal-edit:hover, 
    .table__action-modal-remove:hover{
        background-color: var(--white-three);
}

.table__action-edit-icon{
    position: absolute;
    left : 15px;
    bottom: 11px;
}

.table__action-remove-icon{
    position: absolute;
    left : 15px;
    bottom: 11px;
}