
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
  

:root{
    --side-bar-width: 20%;
    --white-two: #f6f6f6;
    --white-three: #ededed;
    --dark-grey: #202124;
    --nav-height: 122px;
    --body-height: 200vh;
    --greyish-brown: #4d4d4d;
    --pale-orange: #ffa15f;
    --brown-grey: #979797
}

.product__mainview-header-container{
    width: 100%;
}

.product__container{
    display: flex;
    height: fit-content;
    min-width: fit-content;
    flex-wrap: wrap;
    background-color: white;
}

/* SIDE BAR */

.product__sidebar{
    flex: 1 1 var(--side-bar-width);
    background-color: white;
    height: fit-content;
    min-height: fit-content;
    max-height: fit-content;
}

.product__sidebar > *{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
}

.product__sidebar-padding-left{
    padding-left: 100px;
}

.product__sidebar-title{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 30px;
}

.product__sidebar-line{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    height: 1px;
    border-top: solid 0.5px var(--brown-grey);
}

/* SIDE CARD */

.product__sidecard{
    cursor: pointer;
    position: relative;
    padding-bottom: 18px;
}

.product__sidecard-line{
    display: none;
    position: absolute;
    left: 0px;
    bottom: 8px;
    height: 1px;
}

.product__sidecard.product__active{
    color: var(--pale-orange);
}

.product__sidecard-line.product__active{
    width: 20px;
    display: block;
    border-bottom: solid 1px var(--brown-grey);
}


/* MAIN VIEW */
.product__mainview-no-result{
    position: absolute;
    left: 47%;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: var(--dark-grey);
}

.product__mainview{
    flex: 1 1 calc(100% - var(--side-bar-width)); 
    background-color: white;
    min-height: fit-content;
    height: fit-content;
    max-height: fit-content;
}


.product__title{
    display: block;
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: white;
    /* CENTER THE TITLE WITH THE  */
    /* right: 145px; */

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-grey);
}

.product__mainview-sort-button{
    width: 179px;
    height: 30px;
}

.product__mainview-sort-button div{
    font-family: Montserrat, sans-serif;
}

.product__mainview-body-container{
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fill, 350px);
    grid-template-columns: repeat(5, 180px);
    grid-gap: 20px;
}

.product__card{
    width: 180px;
}

.product__card > *{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
}

.product__card-image{
    position: relative;
    z-index: 0;
}

.product__card-sold-out{
    position: absolute;
    display: inline-block;
    margin: auto;
    bottom: 10px;
    left: -5px;
    z-index: 3;
    width: 60px;
    height: fit-content;
    background-color: #808080;

    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: white;
    vertical-align: middle;
    text-align: center;
}

.product__card-image-size{
    width: 180px;
    height: 269px;
}

.product__card-hover{
    cursor: pointer;
    position: absolute;
    z-index: 1;
    opacity: 0;
    bottom: 3px;
    right: 0;

    width: 180px;
    height: 55px;
    background-color: var(--pale-orange);
    font-weight: 500;
    color: white;

    /* TEXT */
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
}

.product__card:hover .product__card-hover{
    transition: opacity 0.5s; 
    /* Transition should take 0.3s */
    -webkit-transition: opacity 0.5s; 
    /* Transition should take 0.3s */
    width: 180px;
    opacity: 1;
    border: 0px solid;
}

.product__card-name{
    color: var(--dark-grey);
}

.product__card-price{
    color: var(--greyish-brown);
}
