@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --charcoal-grey: #3d3d3f;
    --pale-orange: #ffa15f;
}

.full-span-card{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--charcoal-grey);
    margin: auto;
    padding: 10px;
    padding-left: 40px;
    margin-bottom: 8px;
}

.active-side-card{
    padding-left: calc(40px - 6px);
    border-style: solid;
    border-width: 6px;
    border-right: 0px;
    border-top: 0px;  
    border-bottom: 0px;
    border-color: var(--pale-orange);
}

.logo-label{
    position: relative;
    margin: auto;
}

.logo{
    position: relative;
    top: 7px;
    right: 20px; 
}

a:link{
    text-decoration: none;
}

